{% extends 'base.html' %}
{% block content %}

<div class="container-fluid d-flex align-items-center gx-5 flex-lg-nowrap flex-sm-wrap" style="margin-top: 120px; gap: 50px">
  <img src="/static/images/img-sobre.svg" alt="">
  <div class="d-flex flex-column flex-lg-nowrap flex-sm-wrap" style="width: 500px;">
    <p>
    <h1>Quem somos?</h1>
    Somos uma família de feirantes que trabalham na cidade de Pau dos Ferros há mais de 7 anos. Oferecemos frutas, verduras, legumes e temperos de boa procedência. Somos reconhecidos pelo nosso atendimento cordial e ágil. Com a ideia de Mirla, estudante de desenvolvimento, pensamos em trazer nosso trabalho para as redes, permitindo que nossos clientes façam seus pedidos e recebam na sua casa - ou se preferir retirar conosco.
    </p>
  </div>
</div>
{% endblock %}